@charset "utf-8";
/* CSS Document */

body
{
    font: 100% Raleway, sans-serif; /* 16px = 1em*/
    margin: 0; /* so bg images bleed to edge */
}

#home
{
    background: url(../img/back7.jpg) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
}

h1
{
    font: 3em Oswald, sans-serif;
    text-shadow: 1px 1px 1px #000;
}

#plans
{
    background: url(../img/back1.jpg) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
}

#plans a
{
    font-size: 2em;
    color: #fff;
    border: 1px solid #fff;
    padding: 2em; /* uses font size of element for padding and margin - so 1em padding = 16*2 or 32 */
    text-decoration: none;
    display: inline-block;
}

#plans p
{
    padding-top: 2em;
    float: left;
    padding-left: 15%;
}

#contact
{
    background: url(../img/back2.jpg) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
}

#contact a
{
    font-size: 2em;
    color: #fff;
    border: 1px solid #fff;
    padding: 2em; /* uses font size of element for padding and margin - so 1em padding = 16*2 or 32 */
    text-decoration: none;
    display: inline-block;
}

#contact p
{
    padding-top: 2em;
    float: left;
    padding-left: 15%;
}

#contact td
{
    font-size: 2em;
    color: #fff;
    padding: 2em; /* uses font size of element for padding and margin - so 1em padding = 16*2 or 32 */
    text-decoration: none;
    display: inline-block;
}




